* {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'BrandonGrot';
    src: url('../assets/fonts/Brandon_bld.otf');
}

body {
  height: 3000px;
  background-color: #111;
  font-family: 'Helvetica' ,'arial',sans-serif;
  font-weight: 300;
   transition: 1s all;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 50px;
}

.header {
  color: white;
  background-color: #111;
  transition: 1s all;
  position: fixed;
  top: 0;
  height: 25%;
  width: 100%;
}

.header h1  {
  font-family: 'BrandonGrot';
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0;
  transition: 0.8s all;
  margin-top: 4%;
}

.header p {
  margin-top: 5px;
  font-weight: normal;
  opacity: 0;
  transition: 0.8s all;
}

.header > nav , p {
  font-family: 'Helvetica' ,'arial',sans-serif;
  font-size:0.8em;

}

.header a {
  text-decoration: none;
  color:  #111;
  display: flex;
  list-style: none;
}

.header ul {
  list-style: none;
  display: flex
}

nav {
  position: relative;
  left: 800px;
  bottom: 10px;
}


nav  li {
  margin: 0 10px;
}

nav > ul li {
  font-weight: normal;
}

nav > ul li a:hover {
  color: #E15119;
  transition: 0.5s;
}

.socials li {
  margin: 5px 10px;
}

.socials {
  margin-top: 15px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: left;
  position: relative;
  right: 15px;
}

.color  {
   color: #E15119;
}

.icon {
  color: white;
  font-size: 1em;
}
.dots {
  margin: 10px;
}

.circle {
  padding: 5px 8px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #111;
}

.circle:hover {
  background-color: #E15119;
  transition: 0.5s;
}

.facebook {
  padding: 5px 12px;
}

.icon {
  opacity: 0;
}

.ion-social-facebook {
  position: relative;
}

.first {
  margin-top: 50%;
  margin-bottom: 30%;
}


.first > blockquote h1 {
  font-size: 3em;
}

.first > blockquote h1, .first > blockquote p  {
  color: white;
  font-weight: 300;
  opacity: 0;
}

.first > blockquote p {
  font-size: 2em;
  margin-left: 30px;
  margin-top: 10px;
  }

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.arrow > i {
  color: white;
  font-size: 2em;
  animation: blink 0.5s linear infinite;
  opacity: 0;
}

@keyframes blink {
  80% { opacity: 0; }
}

.fadeBg{
  background-color: white;
}

.fadeBlackText {
  color: #111;
}

.bio {
  margin-bottom: 220px;
}

.bio h5 {
  font-size: 1em;
  text-transform: lowercase;
}

.bio h1{
  margin-bottom: 80px;
  font-weight: 100;
}

.experience {
  margin-bottom: 280px;
}

.experience ul {
  margin-left: 10px;
}
.companies li {
  list-style: none;
}

.companies li {
  list-style: none;
}
.names {
  font-size: 1em;
}

.timeSpent {
  z-index: -1;
  POSITION: relative;
  left: 80px;
  font-size: 0.5em;
  background-color: #313131;
  color: white;
  padding: 2px;
  bottom: 35px;
  border-radius: 10px
}


.timeSpent .names {
  margin: 10px;
}

.titleText {
  margin-bottom: 20px;
  font-weight: 500;
}

.tsFix{
  left: 163px;
}

.position {
  font-weight: bold;
}

.moreInfoDrop {
  position: relative;
  bottom: 17px;
  visibility: hidden;
  transition: visibility 0.8s, opacity 0.8s linear;
  z-index: -1;
  width: 60%;
  display: none;
}

.companies li:hover .moreInfoDrop {
  display: block;
  visibility: visible;
  opacity: 1;
}


.exerpt {
  display: inline;
}

.tools {
  display: inline;
  background-color: lightgrey;
  font-size: 0.3em;
  padding: 3px;
  border-radius: 5px;
}

.skills  li {
  list-style: none;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 200;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
  margin: 7px;
}

.skills h2 {
  font-weight: 400;
  margin-bottom: 6px;
  display: inline;
}

.skills p {
  margin-top: 10px;
  font-weight: 500;
}

.skills span {
  font-size: 1.5em;
  margin-right: 5px;
  }
